button{
  background:#baa032;
  border:none;
  color: black;
  position:relative;
  font-size:1.2em;
  padding:0.5em 1.2em;
  cursor:pointer;
  transition:400ms ease all;
  outline:none;
  -webkit-tap-highlight-color: transparent;
}

button:hover{
  background: none;
  color:#baa032;
}

button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #baa032;
  transition:200ms ease all;
}

button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after{
  width:100%;
  transition:400ms ease all;
}

button::selection {
  background: #baa032;
}